@font-face {
  font-family: HindMadurai;
  src: local("font/HindMadurai-Regular.ttf");
}

:root {
  --primaryColor: rgb(47, 147, 180);
  --secondaryColor: rgb(81, 81, 81);
  --textColor: rgb(240, 240, 240);
  --glassmorphism: rgba(255, 255, 255, 0.15);
  --pagePadding: 1.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  font-family: 'HindMadurai', sans-serif;
  background-image: url('../assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--pagePadding);
}

main {
  min-height: 80vh;
  padding: var(--pagePadding);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  gap: var(--pagePadding);
}

section {
  width: 100%;
  height: 100%;
  min-height: 250px;
  padding: 2rem .5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 2px var(--glassmorphism);
  background-color: var(--glassmorphism);
  backdrop-filter: blur(5px);
}

section:first-of-type {
  grid-column: 1 / -1;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--primaryColor);
  font-size: clamp(1.7rem, 4vw, 3.5rem);
}

h2 {
  font-size: clamp(1.2rem, 3.5vw, 2rem);
}

section>h2 {
  margin-bottom: 1rem;
}

.inputContainer {
  width: 100%;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

label {
  width: 100%;
  text-align: center;
}

#newTaskInput {
  width: 70%;
  height: clamp(40px, 3vw, 50px);
  border-radius: 10px 0 0 10px;
  margin: 1rem 0;
  padding: .5rem;
  border: none;
  background-color: var(--textColor)
}

button {
  width: 30%;
  height: clamp(40px, 3vw, 50px);
  padding: .5rem 1rem;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: var(--primaryColor);
  color: var(--textColor);
  font-weight: 600;
}

ul {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: .5rem;
}

li {
  width: 100%;
  line-height: 150%;
  padding: .5rem 1.5rem;
  display: grid;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  grid-template-columns: .5rem auto .5rem;
  gap: .5rem;
  background-color: var(--primaryColor);
  border-radius: 10px;
}

.trashContainer {
  height: 100%;
  height: 30px;
  min-width: 30px;
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  background-color: rgb(154, 39, 39);
  border-radius: 5px;
  padding: .3rem;
}

.trashContainer:hover {
  cursor: pointer;
}

.taskCheckBox {
  height: 70%;
  width: 20px;
  transform: translateX(-1rem);
}

footer {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--pagePadding);
}

.footerTitle {
  max-height: 100%;
  padding: var(--pagePadding);
  font-size: .8rem;
}

@media screen and (min-width: 768px) {
  header {
    padding: var(--pagePadding) 3rem;
  }

  main {
    grid-template-rows: repeat(3, 1fr);
    padding: var(--pagePadding) 3rem;
    grid-template-columns: repeat(2, 1fr);
  }

  section {
    grid-row: 2 / 4;
    grid-column: 1 / -1;
  }

  section:first-of-type {
    grid-row: 1/2;
  }

  form {
    max-width: 60%;
  }

  .newTaskInput {
    width: 75%;
  }

  button {
    width: 25%;
  }

  footer {
    padding: var(--pagePadding) 3rem;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding: var(--pagePadding) 5rem;
  }

  main {
    padding: var(--pagePadding) 5rem;
  }

  form {
    max-width: 40%;
  }

  footer {
    padding: var(--pagePadding) 5rem;
  }
}